<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database Connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/snappfood_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Arteshman@1384</property>

        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>


        <!-- Mapping entity classes -->
        <mapping class="org.croissantbuddies.snappfood.entity.User"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Buyer"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Seller"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Courier"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Food"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Restaurant"/>
        <mapping class="org.croissantbuddies.snappfood.entity.CartItem"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Menu"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Order"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Transaction"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Coupon"/>
        <mapping class="org.croissantbuddies.snappfood.entity.Rating"/>

    </session-factory>
</hibernate-configuration>
